:root {
    --accent-color:#FED136;
    --main-color:#222222;
    --add-color: #777777;
}
body {
    font-family: 'Montserrat';
}
        h1,
        h2,
        h3,
        h4,
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
        ul {
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;
        }
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
        .list {
            list-style: none;
            padding: 0;
        }
        .link {
            text-decoration: none;
        }
        .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }
ul {
    list-style: none;
}
.logo {
color: var(--accent-color);
font-family: Bilbo Swash Caps;
font-size: 36px;
line-height: 1.13;
letter-spacing: 1.3px;
}
.container {
    width: 972px;
    margin: 0 auto;
    padding: 0 15px;
}
header {
padding-top: 44px;
}
header .container {
    display: flex;
    align-items: center;
}
.nav {
    margin-left: auto;
}
.nav-list {
    display: flex;
    gap: 10px;
    margin-left: auto;
}
.nav-link {
    color: var(--accent-color);
    text-align: center;
    font-size: 14px;
    line-height: 2.92;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
}
.nav-link:hover, .nav-link:focus {
    font-weight: 700;
}
.services 
.services-item-title {
    color: var(--main-color);
        text-align: center;
        font-size: 18px;
        line-height: 4.16;
        letter-spacing: -0.45px;
}
.services-item-text {
    color: var(--add-color);
        text-align: center;
        font-family: RobotoSlab;
        font-size: 14px;
        letter-spacing: -0.35px;
        padding-bottom: 119px;
}
.services-title {
    color: var(--main-color);
        text-align: center;
        font-size: 40px;
        line-height: 75px;
        letter-spacing: -1px;
        text-transform: uppercase;
        padding-top: 92px;
        padding-bottom: 119px;
}
.services-list {
    display: flex;
    gap: 50px;
}
.services-item::before {
    content: '';
    display: block;
    width: 70px;
    height: 69px;
    border: 3px solid var(--accent-color);
    border-radius: 50%;
    margin: 0 auto;
    background-image: url('../images/services_svg1_svg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 38px 38px;
}
.services-item:nth-child(2)::before{
    background-image: url('../images/services_svg2_svg.svg');
}
.services-item:nth-child(3)::before{
    background-image: url('../images/services_svg3_svg.svg');
}
.contact-us-title {
    color: white;
    text-align: center;
    font-size: 40px;
    line-height: 1.87;
    letter-spacing: -1px;
    text-transform: uppercase;
}
.contact-us-form {
    display: flex;
    align-items: center;
    gap: 28px;
    flex-wrap: wrap;
    justify-content: center;

}
.contact-us-form-box {
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.contact-us-input {
            font-size: 14px;
            font-weight: 700;
            letter-spacing: -0.35px;
            text-transform: uppercase;
            display: flex;
            gap: 28px;
            padding: 12px 20px 21px;
            width: 455px;
        }
.contact-us {
    background-color: var(--main-color);
    padding-top: 118px;
    padding-bottom: 116px;
}
.contact-us-input::placeholder,
.contact-us-textarea::placeholder {
    color: #BBB;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.35px;
    text-transform: uppercase;
}
.contact-us-textarea {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.35px;
    text-transform: uppercase;
    padding-top: 14px;
    padding-left: 22px;
    resize: none;
    width: 458px;
    height: 212px;
}
.contact-us-input,
.contact-us-textarea {
    /* задати початкові дані для рамки та зробити її прозорою, щоб при ефекті не стрибало */
    border: 2px solid transparent;
}
.contact-us-input:hover,
.contact-us-input:focus .contact-us-textarea:hover,
.contact-us-textarea:focus {
    border-color: var(--accent-color);
    cursor: pointer;
}
.contact-us-btn {
    background-color: var(--accent-color);
    padding: 23px 33px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    transition: opacity 0.3s ease;
}
.contact-us-btn:hover,
.contact-us-btn:focus {
    opacity: 0.8;
}